{% load static %}
<link href="../styles/footer.css" rel="stylesheet" href="{% static 'css/footer.css' %}">
<footer>
  <div class="left-side">
    <div class="contact-info">
      <img src="../image/Phone (1).svg" src="{% static 'image/phone.png'%}" alt="Phone Icon">
      <a> +7 (123) 456-78-90</a>
    </div>
    <div class="contact-info">
      <img src="../image/logo.png" src="{% static 'image/logo.png'%}" alt="Website Logo">
      <a href="https://www.mospolytech.com">www.mospolytech.com</a>
    </div>
    <div class="text-footer">
      <p>© 2023 федеральное государственное автономное образовательное учреждениевысшего образования «Московский политехнический университет»</p>
    </div>
    
  </div>
  <div class="right-side">
    <a href="#"><img src="../image/Vector.svg" src="{% static 'image/vk-icon.png'%}" alt="ВКонтакте"></a>
    <a href="#"><img src="../image/Vector (1).svg" src="{% static 'image/telegram-icon.png'%}" alt="Telegram"></a>
    <a href="#"><img src="../image/Vector (2).svg" src="{% static 'image/youtube-icon.png'%}" alt="YouTube"></a>
    <a href="mailto:назвпочты@почта.com"><img src="../image/Vector (3).svg" src="{% static 'image/mail-icon.png'%}" alt="Email"></a>
  </div>
</footer>