<!doctype html>
<!-- {% load static %} -->
<html lang="ru">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <link href="../styles/style.css"  href="{% static 'css/style.css' %}" rel="stylesheet" type="text/css">
  <link href="../styles/footer.css" rel="stylesheet" href="{% static 'css/footer.css' %}">

  <title>Московский политехнический университет</title>
</head>

<body>


<header>
    <!-- {% include "includes/header.html" %} -->
 <!-- {% load static %} -->

  <link rel="stylesheet" href="../styles/style.css" href="{% static 'css/style.css' %}">
  <div class="header">
    <div class="container">
      <div class="header__inner">
        <div class="header__logo">
          <img class="header__logo-img" src="../image/logo.png" src="{% static 'image/logo.png' %}" alt="Website Logo">
        </div>
        <div class="header__title">Музей Московского Политеха</div>
        <nav class="header__nav">
          <ul class="menu">
            <li class="menu__dropdown">
              <a class="menu__link" href="{% url 'homepage:homepage' %}">Главная</a>
            </li>
  
            <li class="menu__dropdown">
              <a class="menu__link" href="Ссылка на страницу">Вуз</a>
              <div class="menu__dropdown-content">
                <a class="menu__dropdown-link" href="{% url 'history:history' %}">История возникновения</a>
                <a class="menu__dropdown-link" href="{% url 'persons:persons' %}">Известные люди</a>
                <a class="menu__dropdown-link" href="#">Внеучебные организации</a>
                <a class="menu__dropdown-link" href="#">Достижения и успехи</a>
              </div>
            </li>
  
            <li class="menu__dropdown">
              <a class="menu__link" href="Ссылка на страницу">О нас</a>
              <div class="menu__dropdown-content">
                <a class="menu__dropdown-link" href="#">Подпункт 1</a>
                <a class="menu__dropdown-link" href="#">Подпункт 2</a>
                <a class="menu__dropdown-link" href="#">Подпункт 3</a>
                <a class="menu__dropdown-link" href="#">Подпункт 3</a>
              </div>
            </li>
  
          </ul>
        </nav>
      </div>
    </div>
  </div>
  

</header>


  <main>

    <div class="container pt-2">
      <h1 class="title">Знаковые личности и их вклад в образовании Политеха</h1>

      <div class="grid grid_size-col-2 mb-5">

        <div class="grid_col">

          <div class="person">
            <img class="person__image image" src="../image/1.png" src="{% static 'image/1.png' %}">
            <p class="person__title">Мейен Христиан Христианович</p>
            <p class="person__description">
              прошёл путь от механика до старшего инженера. Затем его заметили высшие руководители, что позволило ему
              продвинуться на высшие посты и стать главным распорядителем железнодорожных дел. Его реформы помогли
              существенно улучшить транспортную систему России.
            </p>
            <div class="describe"> Железнодорожный деятель, основатель комиссариатской технической
              школы <span class="bold-text"> Христиан Христианович Мейен </span>принёс немало пользы нашему Отечеству. В 1865 году 
              инженером Мейеном на средства Петра Ионовича Губонина, богатого железнодорожного 
              предпринимателя, была создана ремесленная школа для детей из малообеспеченных семей.
              Спустя год, после покушения на Александра II, школа, в честь спасшего императора Осипа 
              Комиссарова, стала именоваться Комиссаровской.
            </div>
            <p class="person__subtitle">Роль в истории политеха:</p>
            <p class="person__description">
              Основатель Комиссаровской технической школы в Москве. В сентябре 1865 года инженер основал Императорское
              Комиссаровское техническое училище. С 1865 по 1873 год был директором
            </p>

          </div>

        </div>


        <div class="grid_col">

          <div class="person">
            <img class="person__image image" src="../image/2.png" src="{% static 'image/2.png' %}">
            <p class="person__title">Иван Иванович Артоболевский</p>
            <p class="person__description">
              прошел образование в Единой трудовой школе, где позже стал одним из ее выдающихся выпускников.
              В 1926 году он окончил машиностроительный факультет Сельскохозяйственной
              академии имени К. А. Тимирязева, получив звание инженера-агронома по
              сельскохозяйственному машиностроению.
            </p>
            <div class="describe2"> Начиная с 1928 года,<span class="bold-text"> Иван Иванович Артоболевский </span> преподавал в различных вузах Москвы, включая Московский электромеханический институт и Московский авиационный институт, где возглавил кафедру теории механизмов и машин. С этого времени он также начал активно вести научную работу в области структуры и кинематики механизмов, а также занимался силовым анализом и исследованиями движения механизмов.


            </div>
            <p class="person__subtitle">Роль в истории политеха:</p>
            <p class="person__description">
              Его работы о динамическом анализе механизмов с переменной массой нашли применение при проектировании различных машин, таких как строительно-дорожные машины и металлургические устройства.
          </div>

        </div>

      </div>

      <div class="grid grid_size-col-3">

        <div class="grid_col">

          <div class="person">
            <img class="person__image image round-image" src="../image/3.png" src="{% static 'image/3.png' %}">
            <p class="person__title">Виктор Степанович Черномырдин</p>
            <p class="person__description">
              Советский и российский государственный деятель. Председатель Совета министров Российской Федерации. В
              честь Черномыдина был назван МАМИ.
            </p>
          </div>

        </div>

        <div class="grid_col">

          <div class="person">
            <img class="person__image image round-image" src="../image/4.png" src="{% static 'image/4.png' %}">
            <p class="person__title">Михаил Васильевич Ломоносов</p>
            <p class="person__description">
              Первый крупный русский учёный-естествоиспытатель, известный также как полимат. 1919 год - Императорское
              Комисаровское техническое училище было преобразовано в 1-й Московский механико- электротехнический
              техникум имени М.В. Ломоносова.
            </p>
          </div>

        </div>

        <div class="grid_col">

          <div class="person">
            <img class="person__image image round-image" src="../image/5.png" src="{% static 'image/5.png' %}">
            <p class="person__title">Грибов Иван Васильевич</p>
            <p class="person__description">
              Русский и советский учёный, профессор, доктор наук, специалист в области двигателей внутреннего сгорания,
              первый декан автотракторного факультета и заведующий кафедрой «Эксплуатация автомобиля» МАМИ.
            </p>
          </div>

        </div>

      </div>

    </div>



  </main>

  <!-- {% include "includes/footer.html" %} -->
  <footer>
    <div class="left-side">
      <div class="contact-info">
  
        <p><img src="../image/phone.png" src="{% static 'image/phone.png'%}" alt="Phone Icon"> +7 (123) 456-7890</p>
      </div>
      <a href="https://www.mospolytech.com">www.mospolytech.com</a>
      <img src="../image/logo.png" src="{% static 'image/logo.png'%}" alt="Website Logo">
      <p>© 2023 федеральное государственное автономное образовательное учреждениевысшего образования «Московский политехнический университет»,Московский Политех</p>
    </div>
    <div class="right-side">
      <!-- <a href="#"><img src="../image/ok-icon.png" src="{% static 'image/ok-icon.png'%}" alt="Одноклассники"></a> -->
      <a href="#"><img src="../image/vk-icon.png" src="{% static 'image/vk-icon.png'%}" alt="ВКонтакте"></a>
      <a href="#"><img src="../image/telegram-icon.png" src="{% static 'image/telegram-icon.png'%}" alt="Telegram"></a>
      <a href="#"><img src="../image/youtube-icon.png" src="{% static 'image/youtube-icon.png'%}" alt="YouTube"></a>
      <!-- <a href="mailto:назвпочты@почта.com"><img src="../image/mail-icon.png" src="{% static 'image/mail-icon.png'%}" alt="Email"></a> -->
    </div>
  </footer>
  <script src="modal.js"></script>

</body>

</html>
