footer {
  background-color: #292B44;
  color: #EDEDED;
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

.left-side p, a {
  font-size: 21px;
  text-decoration: none;
  color: #AFAFAF;
}

.contact-info {
  display: flex;
  justify-content: space-between;
  width: 210px;
  height: 24px;
  margin-left: 0;
  text-decoration: none;
}
.text-footer{
  width: 800px;
}
.right-side img{
  height: 48px;
  margin-left: 10px;
}