/* @import url(./blocks/common.css);
@import url(./blocks/header.css);
@import url(./blocks/hero.css);
@import url(./blocks/hero2.css);
@import url(./blocks/about.css);
@import url(./blocks/detail.css);
@import url(./blocks/content.css);
@import url(./blocks/info.css);
@import url(./blocks/header-content.css);
@import url(./blocks/step.css);
@import url(./blocks/button.css);
@import url(./blocks/facts.css);
@import url(./blocks/grid.css);
@import url(./blocks/person.css); */

/* about */
.about {
    padding-top: 3rem;
    padding-bottom: 3rem;
  }
  
  .about__link {
    color: #6251A2;
    text-transform: uppercase;
    font-size: 1.2rem;
    text-decoration: none;
    transition: 0.3s;
    padding-right: 100px;
    padding-top: 1rem;
    padding-bottom: 1rem;
    position: relative;
  }
  
  .about__link::after { 
    display: none;
    content: '';
    position: absolute;
    width: 100px;
    height: 100%;
    right: -10px;
    top: 0;
    background-image: url(../../img/photoArrow.png);
    background-size: contain;
    background-repeat: no-repeat;
  }
  
  
  .about__link:hover {
    color: #342277;
  }
  
  .about__text {
    line-height: 1.4;
  }
  
  @media (min-width: 768px) { 
    .about {
      display: flex;
    }
  
    .about__image-container  {
      flex: 0 0 40%;
      max-width: 40%;
      padding-right: 2rem;
    }
  
    .about__text {
      font-size: 1.4rem;
    }
  
    .about__link::after { 
      display: block;
    }
  }
  
  
  @media (min-width: 1200px) { 
  
    .about {
      margin-bottom: 3rem;
    }
  
    .about__link {
      font-size: 2.2rem;
    }
  }
  
 /* button */ 
 .button {
    font-size: 2rem;
    background-color: #6251A2;
    color: #FFFFFF;
    padding: 1rem 2rem;
    border-radius: 60px;
    text-decoration: none;
    transition: 0.3s;
  }
  
  .button:hover {
    background-color: #3b2882;
  }
  
  .button-lg {
    padding: 2rem 4rem;
  }

 /* common */ 
 html, body {
    height: 100%;
    box-sizing: border-box;
    font-family: 'Space Grotesk', sans-serif;
    max-width: 2100px;
    margin: 0;
    background-color: #e9eaf3;
  }
  
*,
*::after,
*::before {
  box-sizing: inherit;
}

h1, h2, h3, h4, h5, p {
  margin-top: 0;
  /* color: #483B78; */
}

.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  max-width: 1320px;
}

.pt-2 {
  padding-top: 2rem;
}

.mb-2 {
  margin-bottom: 2rem;
}

.mb-3 {
  margin-bottom: 3rem;
}

.mb-4 {
  margin-bottom: 4rem;
}

.mb-5 {
  margin-bottom: 5rem;
}

.image {
  display: block;
  max-width: 100%;
  height: auto;
}

.title {
  color: #6251A2;
  text-shadow: 2px 2px 2px black;
  font-size: 2rem;
  line-height: 1.1;
}

@media (min-width: 1200px) { 
  .title {
    font-size: 4rem;
  }
}

.text {
  font-size: 1.2rem;
}

@media (min-width: 1200px) { 
  .text {
  font-size: 1.4rem;
  }
}

.bg {
  background-repeat: no-repeat;
  background-size: cover;
  background-color: rgba(255,255,255,0.7);
  background-blend-mode: lighten;
}

.bg_1 {
  background-image: url(../../image/bg-photo.webp);
}


 /* content*/ 
 .content {
    padding: 2rem;
    border-radius: 3rem;
    background-color: white;
    border: 2px solid #483B78;
    height: 100%;
  }
  
  .content__title {
    color: #BDAEF4;
    text-shadow: 2px 2px 2px #959CE9;
    font-size: 1.3rem;
    margin-bottom: 1rem;
  }
  
  .content__text {
    line-height: 1.4;
  }
  
  @media (min-width: 1200px) {
    .content__title {
      font-size: 3rem;
      margin-bottom: 2rem;
    }
  
    .content__title_sm {
      font-size: 2rem;
  
    }
  }

 /* detail */ 
.detail {
  display: grid;
  gap: 2rem;
  margin-bottom: 2rem;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr; 
}
.detail__col1{
  grid-area: 1 / 1 / 2 / 2;
}
.detail__col2{
  grid-area: 1 / 2 / 2 / 3;
}
.detail__col3{
  grid-area: 2 / 1 / 3 / 2;
}
.detail__col4{
  grid-area: 2 / 2 / 3 / 3;
}

/* facts */ 
 .facts {
    padding-top: 2rem;
    padding-bottom: 2rem;
  }
  
  .facts__grid {
    display: grid;
    gap: 2rem;
    grid-template-columns: 1fr 1fr 1fr;
  }
  
  .facts__footer {
    text-align: center;
    padding-top: 8rem;
    padding-bottom: 5rem;
  }
 /* grid*/ 
 .grid {
    display: grid;
    gap: 2rem;
  
  }
  
  @media (min-width: 768px) {
  
    .grid {
      gap: 8rem;
    }
  
    .grid_size-col-2 {
      grid-template-columns: 1fr 1fr;
    } 
  
    .grid_size-col-3 {
      grid-template-columns: 1fr 1fr;
    } 
  
  }
  
  @media (min-width: 1200px) {
    
    .grid_size-col-3 {
      grid-template-columns: 1fr 1fr 1fr;
    } 
  
  }
  
  
  
 /* header-content */ 
 .header-content {
	padding-top: 2rem;
	padding-bottom: 2rem;
}

.header-content__content {
	font-family: 'Raleway', sans-serif;
	font-size: 1.2rem;
	line-height: 1.4;
	color: rgb(0, 0, 0, 0.7);
}


@media (min-width: 768px) {
	.header-content {
		padding-top: 4rem;
		padding-bottom: 4rem;
		max-width: 70%;
	}

	.header-content__content {
		font-size: 1.6rem;

	}
}
 /* header */ 
 .header {
    background-color: #959CE91F;
    color: #483B78;
    height: 88px;
  }
  
  .header__inner {
    display: flex;
    align-items: center;
  }
  
  .header__title {
    font-size: 26px;
    font-weight: 900;
    line-height: 31px;
    letter-spacing: -0.015em;
    text-align: center;
    font-family: 'Raleway', sans-serif;
  }
  
  .header__logo-img {
    width: 70px;
    height: 70px;
    margin-top: 3px;
    margin-left: 20px;
  
  }
  
  .header__nav {
    margin-left: auto;
  }
  
  .menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
  }
  
  .menu__link {
    text-decoration: none;
    color: #000000B2;
    font-weight: bold;
  }
  
  .menu__dropdown {
    margin-right: 20px;
    position: relative;
    display: inline-block;
  }
  
  .menu__dropdown:hover .menu__dropdown-content {
    display: block;
  }
  
  .menu__link {
    text-decoration: none;
    color: #000000B2;
    font-weight: bold;
  }
  
  .menu__link:hover {
    color: #959CE9;
  }
  
  
  .menu__link:hover {
    color: #959CE9;
  }
  
  .menu__dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
    right: 0;
    border-radius: 8px;
    min-width: 200px;
  }
  
  .menu__dropdown-link {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .menu__dropdown-link:hover {
    color: #959CE9;
  }

 /* hero */ 
 .hero {
    padding-top: 2rem;
    padding-bottom: 2rem;
    min-height: 300px;
    background-image: url(../../image/hero.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-left: 15px;
    padding-right: 15px;
    text-align: center;
  }
  
  
.hero__inner {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  max-width: 90%;
}

.hero__title {
  color: #dddeff;
  font-weight: bold;
  font-size: 1.4rem;
  margin-top: 0;
}

.hero__subtitle {
  color: white;
}


@media (min-width: 768px) {
  .hero {
    min-height: 500px;
  }

  .hero__title {
    font-size: 2.4rem;
  }
}

@media (min-width: 1200px) {
  .hero {
    min-height: 900px;
  }
}

@media (min-width: 1200px) {
  .hero__title {
    font-size: 4rem;
  }

  .hero__subtitle {
    font-size: 2rem;
  }
}


 /* hero2*/ 
 .hero2 {
    padding-top: 3rem;
    padding-bottom: 3rem;
  }
  
  .hero2__image {
    display: block;
    width: 100%;
  }
  
  .hero2__lead {
  
    font-family: 'Raleway-SemiBold', sans-serif;
    font-size: 1.2rem;
    line-height: 1.4;
    color: rgb(0, 0, 0, 0.7);
    margin-bottom: 5rem;
  }
  
  @media (min-width: 768px) {
    .hero2 {
      padding-top: 5rem;
      padding-bottom: 5rem;
      display: flex;
    }
  
    .hero2__text {
      max-width: 70%;
      flex: 0 0 70%;
      padding-right: 6rem;
    }
  
    .hero2__image-block {
      max-width: 30%;
      flex: 0 0 30%;
    }
  
    .hero2__lead {
      font-size: 1.6rem;
  
    }
  }
 /* info */ 
 .info {
    display: grid;
    gap: 2rem;
    padding-bottom: 2rem;
  }
  
  .info__text {
    line-height: 1.5;
  }
  
  .info__title {
    color: #483B78;
    font-size: 1.4rem;
    font-weight: bold;
  }
  
  @media (min-width: 768px) {
    .info {
      grid-template-columns: 1fr 1fr;
      padding-bottom: 4rem;
    }
  
    .info__text-container {
      padding-right: 3rem;
    }
  }
  
  @media (min-width: 1200px) {
    .info__title {
      font-size: 3rem;
    }
  }

 .person__title {
   padding-top: 1rem;
   padding-bottom: 1rem;
   margin-bottom: 0;
   font-size: 45px;
   font-family: 'Space Grotesk', sans-serif;
   color: rgba(98, 81, 162, 1);
   font-weight: 700;
   line-height: 1.1;
   text-shadow: -1px 1px 3px rgb(0, 0, 0, 0.7);
 }
 
 .person__description {
   font-family: 'Raleway', sans-serif;
   color: rgba(0, 0, 0, 0.7);
   font-size: 25px;
   line-height: 34px;
 }
 
 .person__subtitle {
   font-size: 30px;
   font-family: 'Space Grotesk', sans-serif;
   color: rgba(98, 81, 162, 1);
   font-weight: 700;
   line-height: 38px;
   text-shadow: -1px 1px 3px rgb(0, 0, 0, 0.7);
 }
 /* step */
 .step-container {
    background: linear-gradient(white 10%, rgba(189, 174, 244, 1));
    padding-top: 2rem;
    padding-bottom: 2rem;
  }
  
  .step-container__inner {
    display: grid;
    gap: 2rem;
  }
  @media (min-width: 768px) {
    .step-container__inner {
      grid-template-columns: 1fr 1fr 1fr 1fr;
    }
  
    .step-container {
      padding-top: 4rem;
      padding-bottom: 4rem;
    }
  }
  
  .step__header {
    background-image: url(../../image/purple-arrow.png);
    background-repeat: no-repeat;
    background-size: 100%;
  }
  
  .step__title {
    color: white;
    font-size: 45px;
    font-family: 'Raleway', sans-serif;
    text-transform: uppercase;
    text-shadow: -2px 2px 2px blueviolet;
    padding-top: 1.6rem;
    padding-bottom: 3rem;
    padding-left: 4.9rem;
    margin-bottom: 1rem;
  }
  
  .step__body {
    font-family: 'Raleway', sans-serif;
    font-size: 23px;
    line-height: 30px;
    color: rgba(0, 0, 0, .69);
  }
  
  .step-hor {
    display: grid;
    grid-template-columns: 1fr;
  }
  
  .step-hor__block_1 {
    border-right: 10px solid #BEAFF4;
  }
  
  .step-hor__title_1 {
    text-align: right;
  }
  
  .step-hor__title-inner_2 {
    border-bottom: 10px solid #BEAFF4;
    padding-left: 5rem;
    padding-bottom: 1rem;
    padding-right: 4rem;
  }
  
  .step-hor__title {
    color: rgba(189, 174, 244, 1);
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    font-size: 45px;
    text-shadow: -2px 2px 2px rgb(0, 0, 0, 0.6);
  }
  
  .step-hor__content {
    padding-bottom: 3rem;
    font-family: 'Raleway', sans-serif;
    color: rgba(0, 0, 0, 0.61);
    font-size: 25px;
    padding-left: 5rem;
    padding-top: 3rem;
  }
  
  .step-hor__content_1 {
    padding-right: 3rem;
  }
  
  .step-hor__block_2 {
    padding-top: 5rem;
  }
  
  .step-hor__block_1 {
    padding-top: 18rem;
  }
  
  @media (min-width: 768px) {
    .step-hor {
      grid-template-columns: 1fr 1fr;
    }
  }
  
 