<!doctype html>
<!-- {% load static %} -->
<html lang="ru">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <link href="../styles/style.css" href="{% static 'css/style.css' %}" rel="stylesheet" type="text/css">
  <link href="../styles/footer.css" rel="stylesheet" href="{% static 'css/footer.css' %}">


  <title>Московский политехнический университет</title>
</head>

<body>


<header>
  <!-- {% include "includes/header.html" %} -->
  <!-- {% load static %} -->
  <link rel="stylesheet" href="../styles/style.css" href="{% static 'css/style.css' %}">
  <div class="header">
    <div class="container">
      <div class="header__inner">
        <div class="header__logo">
          <img class="header__logo-img" src="../image/logo.png" src="{% static 'image/logo.png' %}" alt="Website Logo">
        </div>
        <div class="header__title">Музей Московского Политеха</div>
        <nav class="header__nav">
          <ul class="menu">
            <li class="menu__dropdown">
              <a class="menu__link" href="{% url 'homepage:homepage' %}">Главная</a>
            </li>
  
            <li class="menu__dropdown">
              <a class="menu__link" href="Ссылка на страницу">Вуз</a>
              <div class="menu__dropdown-content">
                <a class="menu__dropdown-link" href="{% url 'history:history' %}">История возникновения</a>
                <a class="menu__dropdown-link" href="{% url 'persons:persons' %}">Известные люди</a>
                <a class="menu__dropdown-link" href="#">Внеучебные организации</a>
                <a class="menu__dropdown-link" href="#">Достижения и успехи</a>
              </div>
            </li>
  
            <li class="menu__dropdown">
              <a class="menu__link" href="Ссылка на страницу">О нас</a>
              <div class="menu__dropdown-content">
                <a class="menu__dropdown-link" href="#">Подпункт 1</a>
                <a class="menu__dropdown-link" href="#">Подпункт 2</a>
                <a class="menu__dropdown-link" href="#">Подпункт 3</a>
                <a class="menu__dropdown-link" href="#">Подпункт 3</a>
              </div>
            </li>
  
          </ul>
        </nav>
      </div>
    </div>
  </div>
  
</header>


<main>

  <div class="container">

    <div class="hero2">

      <div class="hero2__text">
        <h1 class="title">Московский политехнический университет</h1>
        <p class="hero2__lead">
          Московский политехнический университет был основан 21 марта 2016 года путем объединения Московского
          автомеханического института (МАМИ) и Московского государственного университета печати(МГУП). В данном
          разделе вы сможете узнать историю университета, посетить музей, посвященный его деятельности.
        </p>

        <a class="button button-lg" href="{% url 'history:history_detailed' %}">Узнать больше</a>
      </div>

      <div class="hero2__image-block">
        <img class="hero2__image" src="../image/logo.png" src="{% static 'image/logo.png' %}">
      </div>

    </div>

    <div class="facts">
      <div class="facts__grid">

        <div class="content">
          <p class="content__title content__title_sm">Образование МАМИ и МГУП</p>
          <div class="content__text text">
            <p>Московский автомеханический институт (МАМИ) берет начало развития еще с 1865 года, а Московский
              государственный университет печати имени Ивана Федорова (МГУП) был Основан в 1930 году. Оба учебных
              заведения имели богатую историю и превосходную репутацию в своих областях</p>
          </div>
        </div>

        <div class="content">
          <p class="content__title content__title_sm">Основание Московского политехнического университета</p>
          <div class="content__text text">
            <p>В 2016 году МАМИ и МГУП объединились, чтобы создать Московский политехнический университет. Это
              объединение сильных учебных заведений сделало университет еще более престижным и конкурентоспособным.
            </p>
          </div>
        </div>


        <div class="content">
          <p class="content__title content__title_sm">Сегодняшний Московский политехнический университет</p>
          <div class="content__text text">
            <p>Сегодня Московский политехнический университет имеет разветвленную инфраструктуру, современные учебные
              программы, качественные исследовательские лаборатории и сотрудничает с ведущими университетами и
              научными организациями по всему миру.
            </p>
          </div>
        </div>


      </div>

      <div class="facts__footer">
        <a class="button button-lg" href="{% url 'history:history_detailed' %}">Подробная история Московского политехннческого университета</a>
      </div>
    </div>

  </div>


</main>

<footer>
<!-- {% include "includes/footer.html" %} -->
<!-- {% include "includes/footer.html" %}
{% load static %} -->
<link href="../styles/footer.css" rel="stylesheet">
<footer>
  <div class="left-side">
    <div class="contact-info">

      <p><img src="../image/phone.png" src="{% static 'image/phone.png'%}" alt="Phone Icon"> +7 (123) 456-7890</p>
    </div>
    <a href="https://www.mospolytech.com">www.mospolytech.com</a>
    <img src="../image/logo.png" src="{% static 'image/logo.png'%}" alt="Website Logo">
    <p>© 2023 федеральное государственное автономное образовательное учреждениевысшего образования «Московский политехнический университет»,Московский Политех</p>
  </div>
  <div class="right-side">
    <!-- <a href="#"><img src="../image/ok-icon.png" src="{% static 'image/ok-icon.png'%}" alt="Одноклассники"></a> -->
    <a href="#"><img src="../image/vk-icon.png" src="{% static 'image/vk-icon.png'%}" alt="ВКонтакте"></a>
    <a href="#"><img src="../image/telegram-icon.png" src="{% static 'image/telegram-icon.png'%}" alt="Telegram"></a>
    <a href="#"><img src="../image/youtube-icon.png" src="{% static 'image/youtube-icon.png'%}" alt="YouTube"></a>
    <!-- <a href="mailto:назвпочты@почта.com"><img src="../image/mail-icon.png" src="{% static 'image/mail-icon.png'%}" alt="Email"></a> -->
  </div>
</footer>


</body>

</html>

