<!doctype html>
<!-- {% load static %} -->
<html lang="ru">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <link href="../styles/style.css"  href="{% static 'css/style.css' %}" rel="stylesheet" type="text/css">
  <link rel="../styles/footer.css" rel="stylesheet" href="{% static 'css/footer.css' %}">


  <title>Московский политехнический университет</title>
</head>

<body>


<header>
  <!-- {% include "includes/header.html" %} -->
<!-- {% load static %} -->
  <link rel="stylesheet" href="../styles/style.css" href="{% static 'css/style.css' %}">
  <div class="header">
    <div class="container">
      <div class="header__inner">
        <div class="header__logo">
          <img class="header__logo-img" src="../image/logo.png" src="{% static 'image/logo.png' %}" alt="Website Logo">
        </div>
        <div class="header__title">Музей Московского Политеха</div>
        <nav class="header__nav">
          <ul class="menu">
            <li class="menu__dropdown">
              <a class="menu__link" href="{% url 'homepage:homepage' %}">Главная</a>
            </li>

            <li class="menu__dropdown">
              <a class="menu__link" href="Ссылка на страницу">Вуз</a>
              <div class="menu__dropdown-content">
                <a class="menu__dropdown-link" href="{% url 'history:history' %}">История возникновения</a>
                <a class="menu__dropdown-link" href="{% url 'persons:persons' %}">Известные люди</a>
                <a class="menu__dropdown-link" href="#">Внеучебные организации</a>
                <a class="menu__dropdown-link" href="#">Достижения и успехи</a>
              </div>
            </li>

            <li class="menu__dropdown">
              <a class="menu__link" href="Ссылка на страницу">О нас</a>
              <div class="menu__dropdown-content">
                <a class="menu__dropdown-link" href="#">Подпункт 1</a>
                <a class="menu__dropdown-link" href="#">Подпункт 2</a>
                <a class="menu__dropdown-link" href="#">Подпункт 3</a>
                <a class="menu__dropdown-link" href="#">Подпункт 3</a>
              </div>
            </li>

          </ul>
        </nav>
      </div>
    </div>
  </div>


</header>


<main>

  <div class="container">

    <div class="header-content">
      <h1 class="title">Подробная история Московского политехнического университета</h1>
      <div class="header-content__content">
        <p>История Московского политехнического университета простирается на протяжении почти двух веков. Он создан
          путем слияния вузов, поэтому сегодня мы рассмотрим ни одну историю, Корни политеха уходят в далекий 1865
          год, когда доступ к высшему образованию был значительно ограничен. </p>
      </div>

    </div>

  </div>

  <div class="step-container">
    <div class="container">
      <div class="step-container__inner">

        <div class="step">
          <div class="step__header">
            <p class="step__title">МАМИ</p>
          </div>

          <div class="step__body">
            <p>
              Основан в 1865 году в виде технического училища предназначенного на каких-то 32 учащихся, но темпы
              развития были необъятны. Благодаря чему, уже в 1911 г. насчитывалось 924 человека, а спустя 5 лет
              училищу
              было присвоено звание Имперского. В 1932 г. приняло название Московского автомеханического института им.
              М.В. Ломоносова. Далее след за следом к МАМИ присоединялись и другие университеты, такие как МГОУ, МГИУ
              и
              др.
            </p>

          </div>

        </div>


        <div class="step">
          <div class="step__header">
            <p class="step__title">МГУИЭ</p>
          </div>

          <div class="step__body">
            <p>
              МГУИЭ был создан в 1931 году на основе механического факультета Московского химико-технологического
              института.в 1976 году МГУИЭ получил орден Трудового Красного Знамени. В 1993 г открываются новые
              факультеты, а в 1997г образуется Московский государственный университет инженерной экологии. Наконец в
              2011 МГУИЭ присоединяется к МГТУ “МАМИ”.
            </p>

          </div>

        </div>

        <div class="step">
          <div class="step__header">
            <p class="step__title">МГОУ</p>
          </div>

          <div class="step__body">
            <p>
              В 1991 году, появился Московский областной институт повышения квалификации и переподготовки .В 2000
              году, этот институт превратился в университет и получил официальное название МГОУ.А уже в 2002 году,
              МГОУ предложил своим студентам новую возможность - систему дистанционного обучения.Спустя время, в 2011
              году университет с гордостью назвался Московским государственным открытым университетом имени В. С.
              Черномырдина. В 2012 г. МГОУ присоединяется к МАМИ.
            </p>

          </div>

        </div>

        <div class="step">
          <div class="step__header">
            <p class="step__title">МГВМИ</p>
          </div>

          <div class="step__body">
            <p>
              В 1930 г. был основан Московский металлургический институт, который предоставлял образование в области
              металлургии и металлорежущих станков.Чтобы предоставить возможность работающим людям получить высшее
              образование параллельно с работой, обучение проводилось вечером. После войны выпуски было совсем
              ничтожны, но в 1960гг наблюдается стабильный и быстрый рост.Одним из самых значимых событий в истории
              МГВМИ стал 2013 год, когда он стал частью объединения МАМИ.
            </p>

          </div>

        </div>

      </div>
    </div>
  </div>

  <div class="container">
    <div class="step-hor">

      <div class="step-hor__block step-hor__block_1">
        <p class="step-hor__title step-hor__title_1">
            <span class="step-hor__title-inner step-hor__title-inner_2 ">
              МГИУ
            </span>
        </p>
        <div class="step-hor__content step-hor__content_1">
          <p>История Московского государственного индустриального университета насчитывает более полувека своего
            существования. Учебное заведение было основано в 1960 году и функционировало до 2014 года. За эти годы
            МГИУ стал одним из ведущих вузов Москвы, предлагающих высшее образование в области промышленности.В 2014
            г. Московский государственный индустриальный университет стал структурным подразделением МАМИ. Это
            означает, что МГИУ уже не существует в отдельности, но его научный и образовательный потенциал
            продолжает развиваться.</p>
        </div>
      </div>

      <div class="step-hor__block step-hor__block_2">
        <p class="step-hor__title step-hor__title_2">
            <span class="step-hor__title-inner step-hor__title-inner_2 ">
              МГУП
            </span>
        </p>
        <div class="step-hor__content step-hor__content_2">
          <p>МГУП была основана в 1930 году и с тех пор активно развивается и прогрессирует, хоть и в слиянии с
            другими университетами. Московский полиграфический институт (МПИ), в будущем МГУП, был основан на базе
            факультетов ВХУТЕИНов. Со 2-й половины 1930-х годов был подчинен Объединению государственных
            книжно-журнальных издательств. В 1933г МПИ был преобразован в МГАП Московскую государственную академию
            печати, а после, уже в 2010 он был переименован в Московский государственный университет печати имени
            Ивана Фёдорова в честь знаменитого русского печатника Ивана Фёдорова. В 2016 принимается решение слияния
            МГУП с МАМИ на базе политеха.</p>
        </div>
      </div>


    </div>
  </div>


</main>


<footer>
<!-- {% include "includes/footer.html" %}
{% load static %} -->
<link href="../styles/footer.css" rel="stylesheet">
<footer>
  <div class="left-side">
    <div class="contact-info">

      <p><img src="../image/phone.png" src="{% static 'image/phone.png'%}" alt="Phone Icon"> +7 (123) 456-7890</p>
    </div>
    <a href="https://www.mospolytech.com">www.mospolytech.com</a>
    <img src="../image/logo.png" src="{% static 'image/logo.png'%}" alt="Website Logo">
    <p>© 2023 федеральное государственное автономное образовательное учреждениевысшего образования «Московский политехнический университет»,Московский Политех</p>
  </div>
  <div class="right-side">
    <!-- <a href="#"><img src="../image/ok-icon.png" src="{% static 'image/ok-icon.png'%}" alt="РћРґРЅРѕРєР»Р°СЃСЃРЅРёРєРё"></a> -->
    <a href="#"><img src="../image/vk-icon.png" src="{% static 'image/vk-icon.png'%}" alt="Р’РљРѕРЅС‚Р°РєС‚Рµ"></a>
    <a href="#"><img src="../image/telegram-icon.png" src="{% static 'image/telegram-icon.png'%}" alt="Telegram"></a>
    <a href="#"><img src="../image/youtube-icon.png" src="{% static 'image/youtube-icon.png'%}" alt="YouTube"></a>
    <!-- <a href="mailto:РЅР°Р·РІРїРѕС‡С‚С‹@РїРѕС‡С‚Р°.com"><img src="../image/mail-icon.png" src="{% static 'image/mail-icon.png'%}" alt="Email"></a> -->
  </div>
</footer>

</footer>


</body>

</html>
