.grid {
  display: grid;
  gap: 2rem;

}

@media (min-width: 768px) {

  .grid {
    gap: 8rem;
  }

  .grid_size-col-2 {
    grid-template-columns: 1fr 1fr;
  } 

  .grid_size-col-3 {
    grid-template-columns: 1fr 1fr;
  } 

}

@media (min-width: 1200px) {
  
  .grid_size-col-3 {
    grid-template-columns: 1fr 1fr 1fr;
  } 

}


