.hero2 {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.hero2__image {
  display: block;
  width: 100%;
}

.hero2__lead {

  font-family: 'Raleway-SemiBold', sans-serif;
  font-size: 1.2rem;
  line-height: 1.4;
  color: rgb(0, 0, 0, 0.7);
  margin-bottom: 5rem;
}

@media (min-width: 768px) {
  .hero2 {
    padding-top: 5rem;
    padding-bottom: 5rem;
    display: flex;
  }

  .hero2__text {
    max-width: 70%;
    flex: 0 0 70%;
    padding-right: 6rem;
  }

  .hero2__image-block {
    max-width: 30%;
    flex: 0 0 30%;
  }

  .hero2__lead {
    font-size: 1.6rem;

  }
}