.person {

}

.person__title {
  padding-top: 1rem;
  padding-bottom: 1rem;
  margin-bottom: 0;
  font-size: 45px;
  font-family: 'Space Grotesk', sans-serif;
  color: rgba(98, 81, 162, 1);
  font-weight: 700;
  line-height: 1.1;
  text-shadow: -1px 1px 3px rgb(0, 0, 0, 0.7);
}

.person__description {
  font-family: 'Raleway', sans-serif;
  color: rgba(0, 0, 0, 0.7);
  font-size: 25px;
  line-height: 34px;
}

.person__subtitle {
  font-size: 30px;
  font-family: 'Space Grotesk', sans-serif;
  color: rgba(98, 81, 162, 1);
  font-weight: 700;
  line-height: 38px;
  text-shadow: -1px 1px 3px rgb(0, 0, 0, 0.7);
}