<!-- {% load static %} -->
<header>
  <link rel="stylesheet" href="../styles/style.css" href="{% static 'css/style.css' %}">
  <div class="header">
    <div class="container">
      <div class="header__inner">
        <div class="header__logo">
          <img class="header__logo-img" src="../image/logo.png" src="{% static 'image/logo.png' %}" alt="Website Logo">
        </div>
        <div class="header__title">Музей Московского Политеха</div>
        <nav class="header__nav">
          <ul class="menu">
            <li class="menu__dropdown">
              <a class="menu__link" href="{% url 'homepage:homepage' %}">Главная</a>
            </li>
  
            <li class="menu__dropdown">
              <a class="menu__link" href="Ссылка на страницу">Вуз</a>
              <div class="menu__dropdown-content">
                <a class="menu__dropdown-link" href="{% url 'history:history' %}">История возникновения</a>
                <a class="menu__dropdown-link" href="#">Внеучебные организации</a>
                <a class="menu__dropdown-link" href="#">Достижения и успехи</a>
              </div>
            </li>
  
            <li class="menu__dropdown">
              <a class="menu__link" href="Ссылка на страницу">О нас</a>
              <div class="menu__dropdown-content">
                <a class="menu__dropdown-link" href="#">Подпункт 1</a>
                <a class="menu__dropdown-link" href="#">Подпункт 2</a>
                <a class="menu__dropdown-link" href="#">Подпункт 3</a>
                <a class="menu__dropdown-link" href="#">Подпункт 3</a>
              </div>
            </li>
  
          </ul>
        </nav>
      </div>
    </div>
  </div>
  
</header>